# Privy configuration
NEXT_PUBLIC_PRIVY_APP_ID=xxxxxxxx

# BirdEye API configuration
BIRDEYE_API_KEY=xxxxxx

# Alchemy RPC endpoint (Solana Mainnet)
# Replace this with your own Solana RPC URL if needed
ALCHEMY_RPC=https://solana-mainnet.g.alchemy.com/v2/xxxxxxxxx

# Supabase configuration (Used for caching BirdEye APIs)
NEXT_PUBLIC_SUPABASE_URL=xxxxxxxxxxx
NEXT_PUBLIC_SUPABASE_ANON_KEY=xxxxxxxxxx
SUPABASE_SERVICE_ROLE_KEY=xxxxxxx
