# Privy configuration
NEXT_PUBLIC_PRIVY_APP_ID=cmqpapjym00m50cl6wboyg6cp

# BirdEye API configuration
BIRDEYE_API_KEY=bcca106752da4ea98e426cc8eb92d8ed

# Alchemy RPC endpoint (Solana Mainnet)
# Replace this with your own Solana RPC URL if needed
ALCHEMY_RPC=https://solana-mainnet.g.alchemy.com/v2/KKB0TcJrKdCc6qVPpRWzV

# Supabase configuration (Used for caching BirdEye APIs)
NEXT_PUBLIC_SUPABASE_URL=https://ifgucsxzungykickfgdv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlmZ3Vjc3h6dW5neWtpY2tmZ2R2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIxNDMwMDcsImV4cCI6MjA5NzcxOTAwN30.jLO3CFHYhsVyqiMcXn8vS3j4WjkvBtE1f_paYWayRS4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlmZ3Vjc3h6dW5neWtpY2tmZ2R2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjE0MzAwNywiZXhwIjoyMDk3NzE5MDA3fQ.QSmowga8RyKWvynnTk27zxFSbddrbV1vl9ucmk9OLi4
